<form [formGroup]="_loginForm" (ngSubmit)="proceedlogin()">
    <mat-card>        
        <mat-card-content>        
            <mat-form-field>
                <mat-label>Username</mat-label><input formControlName="username" matInput>                
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label><input formControlName="password" matInput>
            </mat-form-field>        
        </mat-card-content>
        <mat-card-actions>           
            <div class="div-50">
                <button type="submit" mat-raised-button color="primary">Login</button>
            </div>
            <div class="div-50">
                <button mat-raised-button color="primary" (click)="goHome()">Back</button>
            </div>          
        </mat-card-actions>
    </mat-card>
</form>
